
HRDelicates/.vs/HRDelicates/DesignTimeBuild/.dtbcache.v2

HRDelicates/.vs/HRDelicates/v16/.suo

HRDelicates/HRDelicates/bin/Debug/netcoreapp3.1/HRDelicates.dll

HRDelicates/HRDelicates/bin/Debug/netcoreapp3.1/HRDelicates.pdb

HRDelicates/HRDelicates/obj/Debug/netcoreapp3.1/HRDelicates.dll

HRDelicates/HRDelicates/obj/Debug/netcoreapp3.1/HRDelicates.pdb

HRDelicates/HRDelicates/obj/Debug/netcoreapp3.1/HRDelicates.csprojAssemblyReference.cache

HRDelicates/HRDelicates/obj/Debug/netcoreapp3.1/HRDelicates.assets.cache

HRDelicates/HRDelicates/bin/Debug/netcoreapp3.1/HRDelicates.runtimeconfig.dev.json

HRDelicates/HRDelicates/obj/Debug/netcoreapp3.1/HRDelicates.csproj.CoreCompileInputs.cache

HRDelicates/HRDelicates/obj/HRDelicates.csproj.nuget.dgspec.json

HRDelicates/HRDelicates/obj/HRDelicates.csproj.nuget.g.props

HRDelicates/HRDelicates/obj/project.assets.json

HRDelicates/HRDelicates/obj/project.nuget.cache

HRDelicates Interface/.vs/HRDelicates/v16/.suo
