
HRDelicates/.vs/HRDelicates/DesignTimeBuild/.dtbcache.v2

HRDelicates/.vs/HRDelicates/v16/.suo

HRDelicates/HRDelicates/bin/Debug/netcoreapp3.1/HRDelicates.dll

HRDelicates/HRDelicates/bin/Debug/netcoreapp3.1/HRDelicates.pdb

HRDelicates/HRDelicates/obj/Debug/netcoreapp3.1/HRDelicates.dll

HRDelicates/HRDelicates/obj/Debug/netcoreapp3.1/HRDelicates.pdb

HRDelicates/HRDelicates/obj/Debug/netcoreapp3.1/HRDelicates.csprojAssemblyReference.cache
